@import "assets/styles/variables";
@import "app/variables";
@import "variables";

.product-detail {
  padding: $app-content-long-margin !important;
}

.product-detail-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product-detail-header {
  margin-bottom: $app-content-basic-margin;
}

.product-detail-button {
  border: 1px solid $tertiary-font-color;
  font-size: 14px;
}

.product-detail-picture {
  width: $product-detail-thumbnail-size;
  min-width: $product-detail-thumbnail-size;
  max-width: $product-detail-thumbnail-size;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
}

.product-detail-info {
  width: 100%;
  margin-left: $app-content-basic-margin;
}

.product-detail-info__price {
  font-size: $product-detail-price-font-size;
}