@import "app/variables";

.app-inner-page {
  display: block;
  position: relative;
}

.app-inner-page__content {
  width: 100%;
  background-color: white;
  margin-bottom: $app-content-long-margin;
  border-radius: 4px;
}