@import "assets/styles/variables";
@import "app/variables";
@import "variables";

.app-breadcrumb {
  color: $secondary-font-color;
  font-size: $app-breadcrumb-font-size;
  margin-bottom: $app-content-short-margin;
  list-style: none;
  padding: 0;
}

.app-breadcrumb__item {
  :nth-child(n+2):nth-last-child(n+2)::before {
    content: '>';
    margin-left: 5px;
    margin-right: 5px;
  }

  &:last-child {
    font-weight: bold;
  }
}