@import "app/variables";
@import "variables";

.product-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: $app-content-long-margin !important;
}

.product-detail__thumbnail {
  width: $product-detail-thumbnail-size;
  min-width: $product-detail-thumbnail-size;
  max-width: $product-detail-thumbnail-size;
  height: auto;
}

.product-detail-info {
  width: 100%;
  margin-left: $app-content-basic-margin;
}

.product-detail-info__price {
  font-size: $product-detail-price-font-size;
}